BasedOnStyle: Google
Language: Cpp
Standard: Latest
ColumnLimit: 120
IndentWidth: 4
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
DerivePointerAlignment: false
PointerAlignment: Left
IncludeBlocks: Preserve
SortIncludes: CaseSensitive
---
Language: ObjC
BasedOnStyle: Google
ColumnLimit: 120
IndentWidth: 4
